<ul id="demos" class="dropdown-content">
    <li><a routerLink="upload">UPLOAD</a></li>

</ul>

<ul id="exos" class="dropdown-content">

    <li><a routerLink="ressource-list">Listes </a></li>
    <li><a routerLink="ressource-form">Ajout de ressources </a></li>
</ul>

<nav>
    <div class="nav-wrapper">
        <ul class="right hide-on-med-and-down">
            <li><a routerLink="home">Home</a></li>
            <li>
                <a class="dropdown-trigger" data-target="demos">
                   Image
                    <i class="material-icons right">arrow_drop_down</i>
                </a>
            </li>
            <li>
                <a class="dropdown-trigger" data-target="exos">
                    Ressources
                    <i class="material-icons right">arrow_drop_down</i>
                </a>
            </li>
        </ul>
    </div>
</nav>
