<!-- ressource-form.component.html -->

<div class="container">
    <h2>{{ ressource.titre ? 'Modifier' : 'Ajouter' }} une Ressource</h2>
    <form [formGroup]="ressourceForm" (ngSubmit)="saveRessource()">
      <div>
        <label for="titre">Titre:</label>
        <input type="text" id="titre" name="titre" formControlName="titre" required>
      </div>
      <div>
        <label for="description">Description:</label>
        <textarea id="description" name="description" formControlName="description" required></textarea>
      </div>

      <div>
        <label for="url">URL:</label>
        <input type="text" id="url" formControlName="url">
        <div *ngIf="ressourceForm.get('url')?.hasError('invalidUrl') && (ressourceForm.get('url')?.dirty || ressourceForm.get('url')?.touched)">
          L'URL est invalide.
        </div>
      </div>



      <div>
        <label for="dateAjout">Date d'ajout:</label>
        <input type="date" id="dateAjout" name="dateAjout" formControlName="dateAjout" required>
      </div>
      <!-- Ajoutez le bouton de soumission avec la vérification de la validité -->
    <button type="submit" [disabled]="ressourceForm.invalid">Enregistrer</button>
    </form>
  </div>
  